body {
    font-family: 'Playwrite CL', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #987D9A;
    color: #FEFBD8;
    text-align: center;
    padding: 2em 0;
}

main {
    margin: 2em auto;
    max-width: 800px;
    background-color: #FEFBD8;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: Georgia, serif;
    color: #333;
}

#introduction img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#qualities ul {
    list-style-type: square;
    padding-left: 20px;
}

#gallery {
    text-align: center;
}

#gallery .gallery img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

footer {
    background-color: #987D9A;
    color: #FEFBD8;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
